#ajax, #stream {
    padding: 4px 4px;
    margin-left: 30%;
}

.bk-root .bk-widget select {
    min-width: 90%;
    height: 25px;
    padding: 0 2px;
    margin-top: -20px;
    margin-left: 10px;
}

#stream {
    margin-bottom: 35px;
}
